{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST"><div class="field"><label for="somefieldpersonne_id">personne_id</label><select id="somefieldpersonne_id" name="personne_id">
{% for somepersonne in touslespersonne %}<option value="{{ somepersonne['id'] }}">{{ somepersonne['name'] }}</option>{% endfor %}</select></div><div class="field"><label for="somefielduser_id">user_id</label><select id="somefielduser_id" name="user_id">

{% for someuser in touslesuser %}<option value="{{ someuser['id'] }}">{{ someuser['username'] }}</option>{% endfor %}</select></div><div class="field"><label for="somefieldpic">pic</label><input type="file" id="somefieldpic" name="pic"/></div><div class="field"><label for="somefieldinfo_or_gossip">info_or_gossip</label><input type="text" id="somefieldinfo_or_gossip" name="info_or_gossip"/></div><div class="actions"><input type="submit"/></div></form>

{% for x in touslespersonne %}
<a href="" onclick="{% for xx in touteslespersonnessecret[x["id"]] %}window.open('/secrets/{{ xx["id"] }} ');{%endfor%}return false;">tous les secrets sur {{ x["name"] }}</a>

{% endfor %}

{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_secrets"> add one secrets</a>{% endblock %}
